@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@font-face {
	font-family: "Computer Modern";
	src: url("./cmunrm.woff");
	font-weight: regular;
}


@font-face {
	font-family: "Computer Modern";
	src: url("./cmunbx.woff");
	font-weight: bold;
}

@font-face {
	font-family: "Computer Modern Code";
	src: url("./cmuntt.woff");
	font-weight: regular;
}

@font-face {
	font-family: "Premium Modern";
	src: url("./Regards.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Product Sans";
	src: url("./pbold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Product Sans";
	src: url("./ProductSans-Regular.ttf");
	font-weight: normal;
}

h1{
    font-family: "Product Sans", "Premium Modern", "Computer Modern", -apple-system, BlinkMacSystemFont, 'Inter';
    font-weight: bold;
    letter-spacing: -1px;
}

h2{
    font-family: "Product Sans", "Premium Modern", "Computer Modern", -apple-system, BlinkMacSystemFont, 'Inter';
	font-weight: bold;
    letter-spacing: -1px;
    font-weight: 700;
}

h3{
    font-family: "Product Sans", "Premium Modern", "Computer Modern", -apple-system, BlinkMacSystemFont, 'Inter';
    letter-spacing: -1px;
	font-weight: bold;
    font-weight: 500;
}

h4{
    font-family: "Product Sans", "Premium Modern", "Computer Modern", -apple-system, BlinkMacSystemFont, 'Inter';
	font-weight: bold;
}

p{
    font-family: "Product Sans", "Premium Modern", "Computer Modern", -apple-system, BlinkMacSystemFont, 'Inter';
}

a{
    font-family: "Product Sans", "Premium Modern", "Computer Modern", -apple-system, BlinkMacSystemFont, 'Inter';
    color: #6929C4;
}

a:hover {
	text-decoration: underline;
	color: #6929C4;
}

a:visited {
	color: #6929C4;
}

/* body{
    font-family: "Computer Modern", -apple-system, BlinkMacSystemFont, 'Inter';
} */


table th {
	border: 1px solid black;
}

table {
	margin-left: auto;
	margin-right: auto;
	empty-cells: show !important;
}

tbody {
	border-bottom: 1px solid black !important;
}

/* Fix strange table striping choice */
tr:nth-child(even) {background-color: #F2F4F8 !important;}

td {
	border: 0px !important;
	border-left: 1px solid black !important;
	border-right: 1px solid black !important;
}

thead td {
	border-bottom: 1px solid black !important;
}

.MathJax_Display {
	margin-top: 24px !important;
	margin-bottom: 24px !important;
}

.navbar_extra_footer{
    display: None;
}

.c-sidebar__entry:hover {
	color: #121619;
}

.c-sidebar__entry--active {
	color: #6929C4 !important;
}
.c-sidebar__entry--active:hover {
	color: #6929C4;
}


details {
	padding: 18px;
	background-color: #F2F4F8;
	border: 1px solid #DDE1E6;
	margin-bottom: 12px;
}

summary {
	cursor: pointer;
}

div.preface-checker-pattern {
	position: absolute;
	left: -10px;
	top: -10px;
	width: 100%;
	height: 70%;
	background-size: 60px 60px;
	background-image: linear-gradient(to right, #DDE1E6 1px, transparent 1px), linear-gradient(to bottom, #DDE1E6 1px, transparent 1px);	
	z-index: -1;
}

aside.sidebar__right.preface {
	border-left: none;
}

ul.preface-list {
	margin-top: -2em;
	margin-bottom: 2em;
}

.c-page__nav__prev,.c-page__nav__next{flex:1;color:rgba(0,140,255,0.7);border:1px solid rgba(0,140,255,0.7);border-radius:3px;padding:12px 0}.c-page__nav__next{text-align:right}.c-topbar__label{font-size:12px;font-size:.75rem;line-height:1.5;display:inline-block;margin-left:6px;vertical-align:middle;text-transform:uppercase}