@font-face {
	font-family: "Computer Modern";
	src: url("./cmunrm.woff");
	font-weight: regular;
}

@font-face {
	font-family: "Computer Modern";
	src: url("./cmunbx.woff");
	font-weight: bold;
}

@font-face {
	font-family: "Computer Modern Code";
	src: url("./cmuntt.woff");
	font-weight: regular;
}

@font-face {
	font-family: "Computer Modern Code Bold";
	src: url("./cmuntb.woff");
	font-weight: bold;
}

:root{
    --md-text-font: "Computer Modern";
	--md-code-font: "Computer Modern Code Bold";
}