@font-face {
	font-family: "Signifier";
	src: url("./Signifier.ttf") format("truetype");
	font-weight: regular;
}

@font-face {
	font-family: "DaVinci Italics";
	src: url("./TRJNDaVinci-Italic.ttf") format("truetype");
	font-weight: regular;
	font-style: italic;
}

@font-face {
	font-family: "DaVinci";
	src: url("./TRJNDaVinci.otf") format("opentype");
	font-weight: regular;
}

body{
    font-family: "Signifier", -apple-system, BlinkMacSystemFont, 'Inter';
}


h1 {
	font-family: "DaVinci Italics", -apple-system, BlinkMacSystemFont, 'Inter';
	letter-spacing: -1px;
}

h2, h3, h4, h5, h6{
    font-family: "DaVinci", -apple-system, BlinkMacSystemFont, 'Inter';
    letter-spacing: -1px;
}

p{
    font-family: "Signifier", -apple-system, BlinkMacSystemFont, 'Inter';
}

a{
    font-family: "Signifier", -apple-system, BlinkMacSystemFont, 'Inter';
}
